#banner
	.banner_content
		%h1 Dont-Forget
		%p An application to document life's learnings.
		%button= link_to "Sign Up", new_user_registration_path

#testimonial
	.wrapper
		%p.quote "The best way to keep what you learned lernt."
		%p.name "Julian Stanley"

#callouts
	.callout_inner
		.wrapper
			.callout
				%h2 Beautiful interface
				%p Custom-built, with much thanks to Mackenzie Child for the amazing youtube video that made this possible.

			.callout
				%h2 Personal workspcae
				%p An account for each one of your personalities, if you so wish.

			.callout
				%h2 Never forget an idea again
				%p Include daily summaries and tutorials to make sure that knowledge gained is knowledge kept. 

#bottom_cta
	.wrapper
		%h2 This is free. 
		%p Please sign up now! Your future self will thank you! :)
		%button= link_to "Click here to sign up", new_user_registration_path

%footer
	%p &copy; Julian Stanley 2018